<!DOCTYPE html>
<html>
<head>
<style>
body{background-image:url("http://www.portoalegre.travel/upload/b/22/222653_background-wallpaper-hd.jpg");}

div{color:white;

  width: 800px;
  height: 200px;
  padding: 0px;
  box-shadow: 10px 10px;
  box-align:center;
margin-left:300px;
margin-top:20 px;
margin-bottom:0px;}
</style>
</head>

<body>

  
<br>


<div style="font-family:'Times New Roman', Times, serif;text-shadow: 2px 2px red;color:white;text-align:center;font-size:40px;">WE ARE JUST A RING AWAY!!!!!!!!!!!1</div>




<img src="https://image.slidesharecdn.com/devops-ppt-180806053235/95/what-is-devops-devops-course-content-iiht-9-638.jpg?cb=1533723213" width="400" height="300" margin-left="90" >








</body>
</html>

