<html>

<head>



  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<style>
  body {
    background-image:url("http://www.portoalegre.travel/upload/b/22/222653_background-wallpaper-hd.jpg");
  }
  </style>
<body>



<div class="container">
 <h1 style="font-family:'Times New Roman', Times, serif;text-shadow:2px 2px red;color:white;padding:50px;font-family:'Times New Roman',font-shadow:Verdana, Geneva, Tahoma, sans-serifserif 2px 2px red;color:white;text-align:center;font-size:40px;">INDIAN INSTITUTE OF HARDWARE AND TECHNOLOGY</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a routerLink="/signin" >
          <img src="./assets/img/download.png">
          <div class="caption">
            <p style="font-weight:bold;text-align:center;">USER LOGIN.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a routerLink="/adminsignin">
          <img src="./assets/img/mentor2.jpg" >
          <div class="caption">
            <p style="font-weight:bold;text-align:center">MENTOR LOGIN.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a routerLink="/admin1land">
          <img src="./assets/img/admin1.jpg" >
          <div class="caption">
            <p style="font-weight:bold;text-align:center;;font-family:serif">ADMIN LOGIN</p>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
</body>

</html>






