<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.button {
  background-color:navy;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top:40px;
  cursor: pointer;
}
</style>
<body>
    <a routerLink="/adminsignin" class="button">BACK</a>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a routerLink="/useradmin" class="w3-bar-item w3-button w3-padding-large w3-hover-red">Home</a>
    
    <a routerLink="/usermain" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-red">Logout</a>
    <a routerLink="/pay1" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-red">View my Payments</a>
    <a routerLink="/mentorview" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-red">My Profile</a>





    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button w3-hover-red" title="More">Skills<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="/addskill" class="w3-bar-item w3-button w3-hover-red">Add my Skills</a>
        <a routerLink="/skillm"class="w3-bar-item w3-button w3-hover-red">Delete my Skills</a>
        <a routerLink="/skills" class="w3-bar-item w3-button w3-hover-red">View all Skills</a>
      </div>
    </div>

    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button w3-hover-red" title="More">Technologies<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="/addtechnology" class="w3-bar-item w3-button w3-hover-red">Add Technologies</a>
        <a routerLink="/tech" class="w3-bar-item w3-button w3-hover-red">Delete Technologies</a>
        <a routerLink="/technologies" class="w3-bar-item w3-button w3-hover-red">View Technologies</a>
      </div>
    </div>


    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>



<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">WELCOME TO MENTOR DASHBOARD!!!!</h2>
    <p class="w3-opacity"><i>Experience an interactive online instructor-led learning paths powered by #Blended Learning!!!!!</i></p>
    <p class="w3-justify">Mentor On Demand is India’s only company with many international affiliations such as 
      Hewlett Packard, Microsoft, CompTIA, IBM, RedHat, EMC and Prometric. With its superior quality conscience
       and experience, IIHT has always outshined in its quality in terms of training, infrastructure and delivery.
        Our team of over 150 subject matter experts and trainers supervise every course to make learning 
        more easy and effective.It's strong placement portal ensures that IIHT students get exposed to
         the best job offers available in the market today.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Miss Antelina Joy<br>Full Stack Course</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUcUaqD0gd6z8vt3T5bcivxgGQx1yxXA6tGu8tvH8K_LuvDK_g" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Mr.Antony Vargese<br>Data Integration Course</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGm_7qeuqXVvX3-OCcn79Zb2KFLI2zHBl66DAZwOS2cYGPqzZx" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Miss Beena Joy<br>Mean Stack Course</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSunWWAmawNRDFLYVHFH1lUCVfjmhA5BMwbnlNLOG8PUiMosH8ATg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div>


  <a routerLink="/admintech" class="button">SEARCH FOR COURSES AND MENTORS AVAILABLE</a>

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">MOST DEMANDING COURSES</h2>
      <p class="w3-opacity w3-center"><i>Hurry up!!!Enroll for the course!</i></p><br>

      

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          
          <div class="w3-container w3-white">
            <p><b>DevOps</b></p>
            
            <p> DevOps Architecture training program is designed to help learners write and master front-end deployment and back-end codes, deploy codes and configure them into application.</p>
            
            <a routerLink="/addpayment" class="w3-button w3-black w3-margin-bottom"> PAY NOW</a>
         
         
         
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          
          <div class="w3-container w3-white">
            <p><b>Cloud Computing</b></p>
            
            <p> Cloud Stack is designed to help learners gain expertise in designing and architect viable cloud solutions that drive cloud transformation.Become a trusted cloud engineer.</p>
            <a routerLink="/addpayment" class="w3-button w3-black w3-margin-bottom"> PAY NOW</a>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          
          <div class="w3-container w3-white">
            <p><b>Big Data Analytics</b></p>
          
            <p> designed to help Learners master data analysis by deploying various techniques, algorithms by understanding and applying these features in real-time scenarios.</p>
            <a routerLink="/addpayment" class="w3-button w3-black w3-margin-bottom"> PAY NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>We are just a ring away!!!!!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i>IIHT Corporate Office:15,4th floor,SriLakshmi Complex,MG Road,Bengaluru<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email:interest@iiht.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" onclick="alert('message sent!!!!')">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>






</body>
</html>
