
<div class="bg">
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">


<br>
<br>

  <h2 class="text-center">Add Technology</h2>
  <br>
  <br>
  
  
<form>
  
  
  

  <div class="form-group">
    <label for="techName">Technology Name:</label>
    <input [(ngModel)]="technologies.techName" placeholder="techName" name="techName" class="form-control" id="techName">
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input [(ngModel)]="technologies.description" placeholder="description" name="description" class="form-control" id="description">
  </div>
  <div class="form-group">
    <label for="createdAt">Created At:</label>
    <input [(ngModel)]="technologies.createdAt" placeholder="createdAt" name="createdAt" class="form-control" id="createdAt">
  </div>

  
  <div class="form-group">
    <label for="updatedAt">Updated At:</label>
    <input [(ngModel)]="technologies.updatedAt" placeholder="updatedAt" name="updatedAt" class="form-control" id="updatedAt">
  </div>

  

  

  
  

  <button class="btn btn-success" (click)="createTechnology()">Create</button>
</form>
</div>
<div class="col-lg-6">
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
</article>
</div>

